@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}

.styled-select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}
